body {
   background-color: rgb(172, 211, 211);
}

h1 {
   font-size: 5rem;
}

h2 {
   background-color: #cccccc;
   color: white;
}

h3 {
   color: brown;
}

h4 {
   /*  background-color: aqua; */
   color: tomato;
}

.main__section-zarzadzanie {
   text-align: center;
   color: #9ABD97;
}