body {
   background-color: rgb(156, 210, 231);
}

h1 {
   font-size: 5rem;
   color: tomato;
}

h2 {
   background-color: #cccccc;
   color: white;
}

h3 {
   color: brown;
}

h4 {
   /*  background-color: aqua; */
   color: tomato;
}

.linkTable {
   border-spacing: 15px;
}

.linkTable__td {
   border: 1px solid black;
   padding: 5px;
}

.main__section-zarzadzanie {
   text-align: center;
   color: #9ABD97;
}